
<link rel="stylesheet" href="style.css?v=1.0">

/* Custom CSS for the DT data table */
table.dataTable {
  background-color: white; /* Set the background color to white for the entire table */
}

td {
  font-weight: bold;
  color: #333;
}

td:nth-child(2) {
  margin-left: 20px;
  color: #666;
}

th {
  background-color: white; /* Set the background color of the header row to white */
  font-weight: bold; /* Make the header text bold */
  color: #333; /* Set the header text color */
}
/* Target the search bar, footer, "Previous," "Next," "Show [n] entries," "search," and space */
div.dataTables_wrapper div.dataTables_filter input,
div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate,
div.dataTables_wrapper div.dataTables_length,
div.dataTables_wrapper div.dataTables_filter label {
  background-color: white; /* Set the background color of these elements to white */
}

/* Target the "Previous," "Next," "Show [n] entries," "search," and space */
div.dataTables_wrapper div.dataTables_paginate a,
div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter input[type="search"] {
  background-color: white; /* Set the background color of these elements to white */
  color: #333; /* Set the text color of these elements */
}





